---
layout: base.njk
title: Зачем существует TofuPass - TofuPass
description: TofuPass существует для моментов передачи паролей людям, когда пароль нужно прочитать, ввести, произнести, объяснить, сбросить или временно передать.
pageKey: why
extraCss:
- /assets/css/why.css
backgroundDecor: leaves
lang: ru
permalink: /ru/why/index.html
whyLocale: ru
---

{% include "why-content.njk" %}
