---
layout: base.njk
title: Warum es TofuPass gibt - TofuPass
description: TofuPass existiert für menschliche Übergabemomente, in denen ein Passwort gelesen, getippt, gesprochen, erklärt, zurückgesetzt oder vorübergehend geteilt werden muss.
pageKey: why
extraCss:
- /assets/css/why.css
backgroundDecor: leaves
lang: de
permalink: /de/why/index.html
whyLocale: de
---

{% include "why-content.njk" %}
